<a href="https://colab.research.google.com/github/giauhuynh2002/BT/blob/main/060922.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
with open ("text.txt", mode = "w") as accounts:
  accounts.write ("1 Nguyen Van A 8.0 \n")
  accounts.write ("2 Le Thi B 6.8 \n")

In [ ]:
with open ("text1.txt", mode = "w") as accounts:
  print("7:00 Nguyen Van A", file = accounts)
  print("7:01 Le Thi B", file = accounts)

In [ ]:
with open ("text.txt", mode = "r") as accounts:
  print(f"{"name":<20}{"score":>20}")
  for record in accounts:
    name, score = record.split()
    print(f"{name:<20}{score:>20}")

SyntaxError: ignored

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe.head(5)

   STT      MSSV              Ho va Ten  diem
0    1  20104004         Nguyen Gia Dat     5
1    2  20104063  Nguyen Thi Thuy Trang     6
2    3  20104049  Nguyen Tran Thanh Nhu     7
3    4  20104017     Tran Thi Ngoc Canh     8
4    5  20104053    Vo Ngoc Thanh Quynh     9

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe["Name"] = ["Nguyen Tran Thanh Nhu","Nguyen Thi Thuy Trang"]
dataframe["Student ID"] = [20104049,20104063]
dataframe["Score"] = [8.0,9.0]
dataframe

                    Name  Student ID  Score
0  Nguyen Tran Thanh Nhu    20104049    8.0
1  Nguyen Thi Thuy Trang    20104063    9.0

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe.head(10)

   STT      MSSV              Ho va Ten  diem  nam hoc Khoa
0    1  20104004         Nguyen Gia Dat     5     2020  CKM
1    2  20104063  Nguyen Thi Thuy Trang     6     2020  CKM
2    3  20104049  Nguyen Tran Thanh Nhu     7     2020  CKM
3    4  20104017     Tran Thi Ngoc Canh     8     2020  CKM
4    5  20104053    Vo Ngoc Thanh Quynh     9     2020  CKM
5    6  20104024        Huynh Phat Giau    10     2020  CKM
6    7  20104072          Phan Cao Vinh    11     2020  CKM
7    8  20104042      Nguyen Thi Tra Mi    12     2020  CKM
8    9  20104047       Tran Thi My Ngoc    13     2020  CKM
9   10  20104039           Le Khanh Lam    14     2020  CKM

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe.iloc[5]

STT                        6
MSSV                20104024
Ho va Ten    Huynh Phat Giau
diem                      10
nam hoc                 2020
Khoa                     CKM
Name: 5, dtype: object

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe[:4]

   STT      MSSV              Ho va Ten  diem  nam hoc Khoa
0    1  20104004         Nguyen Gia Dat     5     2020  CKM
1    2  20104063  Nguyen Thi Thuy Trang     6     2020  CKM
2    3  20104049  Nguyen Tran Thanh Nhu     7     2020  CKM
3    4  20104017     Tran Thi Ngoc Canh     8     2020  CKM

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
#dataframe[:4]
dataframe = dataframe.set_index(dataframe["Ho va Ten"])
dataframe.loc["Nguyen Thi Thuy Trang"]

STT                              2
MSSV                      20104063
Ho va Ten    Nguyen Thi Thuy Trang
diem                             6
nam hoc                       2020
Khoa                           CKM
Name: Nguyen Thi Thuy Trang, dtype: object

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe[dataframe["Khoa"]=="CKM"].head(5)

   STT      MSSV              Ho va Ten  diem  nam hoc Khoa
0    1  20104004         Nguyen Gia Dat     5     2020  CKM
1    2  20104063  Nguyen Thi Thuy Trang     6     2020  CKM
2    3  20104049  Nguyen Tran Thanh Nhu     7     2020  CKM
3    4  20104017     Tran Thi Ngoc Canh     8     2020  CKM
4    5  20104053    Vo Ngoc Thanh Quynh     9     2020  CKM

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe[(dataframe["Khoa"]=="CKM") & (dataframe["nam hoc"]==2020)]

    STT      MSSV              Ho va Ten  diem  nam hoc Khoa
0     1  20104004         Nguyen Gia Dat     5     2020  CKM
1     2  20104063  Nguyen Thi Thuy Trang     6     2020  CKM
2     3  20104049  Nguyen Tran Thanh Nhu     7     2020  CKM
3     4  20104017     Tran Thi Ngoc Canh     8     2020  CKM
4     5  20104053    Vo Ngoc Thanh Quynh     9     2020  CKM
5     6  20104024        Huynh Phat Giau    10     2020  CKM
6     7  20104072          Phan Cao Vinh    11     2020  CKM
7     8  20104042      Nguyen Thi Tra Mi    12     2020  CKM
8     9  20104047       Tran Thi My Ngoc    13     2020  CKM
9    10  20104039           Le Khanh Lam    14     2020  CKM
10   11  20104060     Nguyen Thi My Thuy    15     2020  CKM
11   12  20104071       Nguyen Hong Tuoi    16     2020  CKM
12   13  20104069            Vo Anh Tuan    17     2020  CKM
13   14  20104070        Mai Thi Tri Tue    18     2020  CKM
14   15  20104023        Tran Khanh Doan    19     2020  CKM

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe[(dataframe["Khoa"]=="CKM") & (dataframe["nam hoc"]==2020) & (dataframe["diem"] >= 10)]

    STT      MSSV           Ho va Ten  diem  nam hoc Khoa
5     6  20104024     Huynh Phat Giau    10     2020  CKM
6     7  20104072       Phan Cao Vinh    11     2020  CKM
7     8  20104042   Nguyen Thi Tra Mi    12     2020  CKM
8     9  20104047    Tran Thi My Ngoc    13     2020  CKM
9    10  20104039        Le Khanh Lam    14     2020  CKM
10   11  20104060  Nguyen Thi My Thuy    15     2020  CKM
11   12  20104071    Nguyen Hong Tuoi    16     2020  CKM
12   13  20104069         Vo Anh Tuan    17     2020  CKM
13   14  20104070     Mai Thi Tri Tue    18     2020  CKM
14   15  20104023     Tran Khanh Doan    19     2020  CKM

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe["Khoa"].unique()

array(['CKM', 'CLC'], dtype=object)

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe["Khoa"].value_counts()

CKM    9
CLC    6
Name: Khoa, dtype: int64

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe.drop("Khoa", axis=1).head(9)

   STT      MSSV              Ho va Ten  diem  nam hoc
0    1  20104004         Nguyen Gia Dat     5     2020
1    2  20104063  Nguyen Thi Thuy Trang     6     2020
2    3  20104049  Nguyen Tran Thanh Nhu     7     2020
3    4  20104017     Tran Thi Ngoc Canh     8     2020
4    5  20104053    Vo Ngoc Thanh Quynh     9     2020
5    6  20104024        Huynh Phat Giau    10     2020
6    7  20104072          Phan Cao Vinh    11     2020
7    8  20104042      Nguyen Thi Tra Mi    12     2020
8    9  20104047       Tran Thi My Ngoc    13     2020

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe.groupby("Khoa").mean()

       STT          MSSV  diem  nam hoc
Khoa
CKM    5.0  2.010404e+07   9.0   2020.0
CLC   12.5  2.010406e+07  16.5   2020.0

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe.groupby("Khoa").count()

      STT  MSSV  Ho va Ten  diem  nam hoc
Khoa
CKM     9     9          9     9        9
CLC     6     6          6     6        6

In [ ]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data["NOC"].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data[(data["NOC"] == "CAN")]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
54,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
92,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
93,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
94,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
...,...,...,...,...,...,...,...,...
2105,2006,Turin,Skating,Speed skating,CAN,Team pursuit,W,Silver
2106,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
2107,2006,Turin,Skiing,Cross Country S,CAN,Team sprint,W,Silver
2108,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold
2109,2006,Turin,Skiing,Snowboard,CAN,Snowboard Cross,W,Bronze

In [ ]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data[(data["NOC"] == "CAN") & (data["Year"] >= 2000) & (data["Medal"] == "Gold")]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1850,2002,Salt Lake City,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
1851,2002,Salt Lake City,Ice Hockey,Ice Hockey,CAN,ice hockey,W,Gold
1852,2002,Salt Lake City,Skating,Figure skating,CAN,pairs,X,Gold
1856,2002,Salt Lake City,Skating,Short Track S.,CAN,5000m relay,M,Gold
1857,2002,Salt Lake City,Skating,Short Track S.,CAN,500m,M,Gold
1861,2002,Salt Lake City,Skating,Speed skating,CAN,500m,W,Gold
1862,2002,Salt Lake City,Skiing,Cross Country S,CAN,5km pursuit,W,Gold
2087,2006,Turin,Bobsleigh,Skeleton,CAN,individual,M,Gold
2090,2006,Turin,Curling,Curling,CAN,curling,M,Gold
2092,2006,Turin,Ice Hockey,Ice Hockey,CAN,ice hockey,W,Gold
2099,2006,Turin,Skating,Speed skating,CAN,1500m,W,Gold
2103,2006,Turin,Skating,Speed skating,CAN,5000m,W,Gold
2106,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
2108,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold

In [ ]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data.groupby((data["NOC"]=="CAN") & (data["Medal"]=="Gold") & (data["Year"]>=2000)).count()

       Year  City  Sport  Discipline   NOC  Event  Event gender  Medal
False  2297  2297   2297        2297  2297   2297          2297   2297
True     14    14     14          14    14     14            14     14